<div *ngFor="let release of (releases| async)" style="margin:.5em;">
    <md-card *ngIf="release.assets[0]">
        <md-card-header>
            <div md-card-avatar style="margin-right:10px;">
                <md-chip-list>
                    <md-chip *ngIf="release.prerelease" mdTooltip="Pre-Release">
                        <md-icon class="tag prerelease">label</md-icon>
                    </md-chip>
                    <md-chip *ngIf="!release.prerelease" mdTooltip="Release">
                        <md-icon class="tag release">label</md-icon>
                    </md-chip>
                </md-chip-list>
            </div>
            <md-card-title style="text-align: left;">{{release.name}}</md-card-title>
            <md-card-subtitle>{{release.published_at | date:'fullDate'}}</md-card-subtitle>
        </md-card-header>
        <md-card-content class="stats">
            <md-icon aria-hidden="true">file_download</md-icon>
            <md-input-container>
                <input class="stats main" mdInput placeholder="Downloads" disabled value="{{release.assets[0].download_count}}">
            </md-input-container>
            <md-icon aria-hidden="true">disc_full</md-icon>
            <md-input-container>
                <input class="stats main" mdInput placeholder="Size" disabled value="{{size(release.assets[0].size)}}">
            </md-input-container>
        </md-card-content>
    </md-card>
</div>